
#container{
   position: absolute;
   top: 50%;
   margin-top: -300px;/* half of #content height*/
   left: 0;
   width: 100%;
}
#content {
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   height: 90%;
   text-align: center;
   font:500 13px/23px 'Monda',sans-serif;
   color:#555555;
}
/*
#data{
    
}
*/
.favicon{
    width: 10%;
    display: inline-block;
    float: left;
}
.ip{
    width: 10%;
    display: inline-block;
    float: left;
}
.camefrom{
    width: 20%;
    display: inline-block;
    float: left;
}
.cameto{
    width: 20%;
    display: inline-block;
    float: left;
}
.timestamp{
    width: 20%;
    display: inline-block;
    float: left;
}
.country{
    width: 10%;
    display: inline-block;
    float: left;
}
.city{
    width: 10%;
    display: inline-block;
    float: left;
}

.clearClass{
    clear: both;
}